/* .contianer{
    width: 100%;
    height: 100vh;
    border: solid 10px rgb(0, 0, 0);
    background: white;
    display: flex;
}
.left-pannel{
   border: solid orange;
   width: 15%;
   margin: 10px;
   border-radius: 7px;
}
.right-pannel{
  border: solid 5px red;
  width: 75%;
  margin: 10px;
  border-radius: 7px;
  
} */

.home{
    /* background: white; */
    width: 100%;
    height: 100vh;
}

